.container{
    margin-top: 20px;
    background-color: rgb(86, 189, 86);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.hide {
    display: none;
}  

#answer-buttons.btn-layout {
    margin-top: 10px;
    text-align: center;
    margin-bottom: auto;
}

